<html>
  <head>
    <title>Simple Wiki</title>
    <!--[if IE]>
    <script>
      document.createElement('header')
      document.createElement('nav')
      document.createElement('article')
      document.createElement('footer')
    </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="main.css"/>
  </head>
  <body>
    <br/>
    <div id='main'>
      <div id='page-main'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
